.wrapper {
	border:solid;
	border-width:1px;
	border-color: #949494;
	background-color: #444444;
	color: white;
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	margin-top: 15px;
}
.year-study {
	align-self: center;
	background-color: #444444;
	font-size: 32px;
	padding: 20px;
	font-weight: 1000;
}
.content-study {
	background-color: white;
	color: black;
	flex: 12 1 auto;
	padding: 20px;
}
.content-study h4{
	font-weight: 600;
	font-size: 20px;
	text-align: left;
}
.content-study p{
	font-size: 14px;
	margin-bottom: 0px;
	line-height: 14px;
	text-align: left;
}

@media (max-width: 760px) {
	.year-study {
		font-size: 20px;
		padding: 10px;
	}
	.content-study h4{
		font-size: 14px;
	}
	.content-study p{
		font-size: 12px;
	}
}