@font-face {
    font-family: 'Timeless-Bold';
    src: url(../font/timeless/Timeless-Bold.ttf);
}
@font-face {
    font-family: 'Timeless';
    src: url(../font/timeless/Timeless.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(../font/roboto/Roboto-Thin.ttf);
}
.languageflag{
	width: 30px;
	margin-right: 5px;
}
nav{
	background-color: black;
	font-family: 'Timeless';
}
#Buttontop{
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99;
	font-size: 18px;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	cursor: pointer;
	padding: 10px;
	border-radius: 4px;
}

#Buttontop img{
	width: 30px;
}

#Buttontop:hover {
	background-color: #2ecc71;
}
body{
	overflow-y: scroll;
	overflow-x: hidden;
}
#title_sergio{
	font-family: 'Timeless-Bold';
}
.section{
	padding-top: 10vw;
	padding-bottom: 10vw;
	padding-left: 7%;
	padding-right: 7%;
	text-align: justify;
	font-size: 24px;
	line-height: 30px;
	font-family: 'Roboto';
}
p{
	line-height: 40px;
}
.section h2{
	font-family: 'Timeless-Bold';
	margin-bottom: 3%;
	font-size: 200%;
}
#languageOptions a{
	cursor: pointer;
}
#me{
	background-color: #2d428c;
	color:white;
}
#photoSergio{
	width: 50%;
	margin-left: 25%;
}
#study{
	background-color: #354da6;
	color: white;
}
.photo{
	width: 100%;
}
#knowledge{
	background-color: #3d59bf;
	color:white;
}
#knowledge li, #study li{
	margin-bottom: 20px;
}
#experiences{
	background-color: #4e71f2;
	color:white;
}
#contact{
	background-color: #bfcdff;
	color: black;
}
#contactOptions{
	text-align: center;
}
#linkedin, #lattes{
	width: 80px;
	margin-right: 2%;
	margin-top: 1%;
}
#facebook{
	width: 80px;
	margin-top: 1%;
}
#email{
	text-align: center;
	margin-top: 50px;
}
#email img{
	height: 30px;
}
#email a{
	color: black;
	text-decoration: none;
}
ul{
	text-align: left;
	padding-left: 15px;
}
.experiencePoint{
	margin-bottom: 2px;
	margin-top: 20px;
	font-weight: 600;
}

@media (max-width: 760px) {
	.section h2{
		padding-top: 12vw;
		text-align: center;
	}
	#linkedin, #lattes, #facebook{
		width: 60px;
	}
	#email{
		font-size: 14px;
	}
	#Buttontop{
		padding: 5px;
	}
	.section{
		font-size: 18px;
		line-height: 20px;
	}
	p{
		line-height: 25px;
	}
}